.popular-movies-container {
    display: flex;
    width: fit-content;

    margin-top: 80px;

    flex-direction: column;
    align-items: center;

    .popular-movies-list {
        margin-top: 32px;
        .popular-movie-card-container {
            margin-bottom: 20px;
        }
    }
}
