.rectangle-button {
    width: 248px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    .rectangle-button-text {
        font-size: 18px;
        margin-left: 26px;
    }
}

.primary-button {
    background-color: #242424;
}
.secondary-button {
    background: rgba(36, 36, 36, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
