.navbar-container {
    z-index: 1;
    display: flex;

    height: 40px;

    margin-top: 32px;

    align-items: center;

    .add-movie-button-container {
        margin-left: 64px;

        @media (max-width: 1020px) {
            margin-left: 0px;
        }
    }

    .menu-button {
        margin-left: auto;
    }
    .notification-button {
        margin-left: 40px;
    }
    .profile-button {
        margin-left: 40px;
        @media (max-width: 1020px) {
            margin-left: 0px;
        }
    }

    @media (max-width: 1020px) {
        top: 16px;
        margin-top: 0;
        height: 36px;

        position: sticky;
        justify-content: center;
        z-index: 2;

        .add-movie-button-container {
            position: absolute;
            left: 24px;
        }
        .liteflix-title {
            position: absolute;
        }

        .profile-button {
            position: absolute;
            right: 24px;
        }
    }
}
