.navbar-container {
    z-index: 1;
    display: flex;

    height: fit-content;

    margin-top: 32px;

    align-items: center;

    @media (max-width: 1020px) {
        margin-top: 16px;
        justify-content: space-between;
    }

    .add-movie-button-container {
        margin-left: 64px;

        @media (max-width: 1020px) {
            margin-left: 0px;
        }
    }

    .menu-button {
        margin-left: auto;
    }
    .notification-button {
        margin-left: 40px;
    }
    .profile-button {
        margin-left: 40px;
        @media (max-width: 1020px) {
            margin-left: 0;
        }
    }
}
