.navbar-container {
    display: flex;

    height: fit-content;

    margin-top: 32px;

    align-items: center;

    @media (max-width: 600px) {
        margin-left: 24px;
        margin-right: 24px;
        justify-content: space-between;
    }

    .navbar-title-container {
        .navbar-title {
            margin: 0;
            font-size: 34px;
            font-weight: 400;
        }
    }

    .add-movie-button-container {
        margin-left: 64px;
        @media (max-width: 900px) {
            margin-left: auto;
        }
        @media (max-width: 600px) {
            margin-left: 0px;
        }
    }

    .menu-button {
        margin-left: auto;
    }
    .notification-button {
        margin-left: 40px;
    }
    .profile-button {
        margin-left: 40px;
        @media (max-width: 600px) {
            margin-left: 0;
        }
    }
}
