.homepage-container {
    position: relative;
    z-index: 0;
    display: flex;

    min-height: 100vh;
    min-width: 100vw;

    background-color: #242424;

    flex-direction: column;

    .background-image {
        z-index: 0;
        position: absolute;

        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: 1020px) {
            max-height: 100vh;
            max-width: 100vw;

            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .background-mask {
            z-index: 0;

            height: 100%;
            width: 100%;

            background-color: rgba(36, 36, 36, 0.5);

            @media (max-width: 1020px) {
                background: linear-gradient(
                    180deg,
                    rgba(24, 24, 24, 0.5) 20%,
                    #242424 80%
                );
            }
        }
    }
    .homepage-container-background-mask {
        min-height: 100vh;
        min-width: 100vw;
        background-color: rgba(36, 36, 36, 0.5);
    }
    .homepage-main-content {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1020px) {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}
